
 <nav>
    <a  [class.mat-elevation-z8]="!isActive" routerLink="/first">Start</a>
    <a  [class.mat-elevation-z8]="!isActive" routerLink="/message">Messages</a>
  </nav>

  
<div *ngIf="messageService.messages.length">

<h2>Messages</h2>



<mat-form-field >
    <mat-label>Filter of text</mat-label>
    <input matInput id="first_name" class="validate" [(ngModel)]="searchStr"><br> 
</mat-form-field>
<br>
<mat-form-field >
    <mat-label>From</mat-label>
    <input type="date" matInput [(ngModel)]="fromd" name="fromd"><br>
</mat-form-field>
<br>
<mat-form-field >
    <mat-label>to</mat-label>
    <input type="date" matInput [(ngModel)]="tod" name="tod"><br>
</mat-form-field>
<br>
<button mat-raised-button type="button" class="clear"
    (click)="messageService.clear()">Clear</button>

<div *ngFor='let message of messageService.messages | search:searchStr | dater:tod :fromd'>{{message}}</div>


</div>

<div *ngIf="!messageService.messages.length"><br><br>
  <h2>  No messages </h2>
</div>

