
<div class="prof">
  <a  routerLink="/profil" class="aa" style="  position: absolute;
  top: 20px; 
  right: 60px;
  text-decoration: none;
color: black;
padding: 3px;
font-size: large;">{{l1}}</a>
  <a  routerLink="/profil"><img [src]="url" alt="Avatar" class="avatar" style="
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
  top: 0px; 
  right: 0px;"></a>
  </div>

<nav>
    <a  [class.mat-elevation-z8]="!isActive" routerLink="/first">Start</a>
    <a  [class.mat-elevation-z8]="!isActive" routerLink="/message">Messages</a>
  </nav>


    <div >
      <div [innerHtml]='msg' *ngIf="msg" style="color: red;"></div>
      <div><img [src]="url" *ngIf="url" alt="Avatar" class="avatar" style="
        vertical-align: middle;
        width: 50px;
        height: 50px;
        border-radius: 50%;"></div>
      <p>
        <input type="file" (change)="selectFile($event)" >
      </p>
    </div>

    <h2>Name:{{l1}} <br>
        


   