label {
    color: #26c723;
    font-weight: bold;
  }

  button {
    margin-top: 20px;
    background-color:rgb(20, 29, 17);
    padding: 1rem;
    border-radius: 4px;
    font-size: 1rem;
    color:white;
    background-color:#333;
  }

  button:hover {
   color:white;
    background-color:#333;
  }

  button:disabled {
    background-color:rgb(20, 29, 17);
    color: rgb(12, 15, 5);
    cursor: auto;
  }

  input {
    font-size: 1em;
    padding: .5rem;
  }

  nav a {
    padding: 1rem;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    background-color: #333;
    color: #eef5ee98;
    border-radius: 4px;
  }
  
  nav a:hover {
    color: white;
    background-color: #465c42;
  }

  nav a.active {
    background-color: black;
  }

  .custum-control {
    padding: 10px;
    background-color: lightgoldenrodyellow;
    border: 1px solid lightgrey;
  }

