
<div class="prof">
    <a  routerLink="/profil" class="aa">{{l1}}</a>
    <a  routerLink="/profil"><img [src]="url" alt="Avatar" class="avatar" ></a>
    </div>


<nav>
    <a  [class.mat-elevation-z8]="!isActive" routerLink="/first">Start</a>
    <a  [class.mat-elevation-z8]="!isActive" routerLink="/message">Messages</a>
  </nav>

<div *ngIf="user">

    <br>
<br>

    
    
    <h2>{{ user.name  | uppercase}} <br>{{ user.surname  | uppercase}} </h2>
    
    <button mat-raised-button type="button" (click)="setting()">
        Setting
    </button>

    <div *ngIf="s==1">

    <div><span>id: </span>{{user.id}}</div>
    <div>
        <mat-form-field>
        <mat-label for="hero-name">User name: </mat-label>
        <input matInput [formControl]='nameControl' id="user-name" [(ngModel)]="user.name" placeholder="name">
    </mat-form-field>
    </div>
    <div>
    <mat-form-field>
        <mat-label for="hero-surname">User surname: </mat-label>
        <input matInput [formControl]='nameControl2' id="user-surname" [(ngModel)]="user.surname" placeholder="surname">
    </mat-form-field> 
    </div>
    
    <button mat-raised-button  type="button" (click)="save()">save</button></div>
    <button mat-raised-button type="button" (click)="goBack()">go back</button>

</div>