
<div class="prof">
  <a  routerLink="/profil" class="aa">{{l1}}</a>
  <a  routerLink="/profil"><img src="https://i.pinimg.com/originals/ba/66/02/ba6602a51ea3490764cb1e03ea28fae8.jpg" alt="Avatar" class="avatar" ></a>
  </div>



 <nav>
  <a  [class.mat-elevation-z8]="!isActive" routerLink="/first">Start</a>
  <a  [class.mat-elevation-z8]="!isActive" routerLink="/message">Messages</a>
</nav>

<div>

    <mat-form-field>
      <input matInput placeholder="Name" class="aaa" [formControl]='nameControl' id="new-hero" #userName>
  </mat-form-field>
   <br>
  <mat-form-field>
    <input matInput placeholder="Surname" class="aaa" [formControl]='nameControl' id="new-hero" #userSuname>
</mat-form-field>

    <button mat-raised-button  type="button" class="add-button" (click)="add(userName.value, userSuname.value); userName.value=''; userSuname.value=''">
      Add user
    </button>
  </div>


<ul class="users">
    <li *ngFor="let user of users">
      <a routerLink="/detailuser/{{user.id}}/{{user.name}}">
        <span class="badge">{{user.id}}</span> {{user.name}} {{user.surname}} 
      </a>
      <button mat-raised-button  type="button" class="delete" title="delete user"
      (click)="delete(user)">x</button>
    </li>
  </ul>