<mat-card [class.mat-elevation-z8]="isActive">
    <mat-card-title  >Login</mat-card-title>

    <fieldset [formGroup]="logControl">

    <mat-form-field appearance="fill">
        <mat-label>login</mat-label>
        <input matInput placeholder="login" id="l1" formControlName="loginFormControl"  [(ngModel)]="l1" clas="l1" required><br>
        <mat-error *ngIf="!logControl">
            only letters, digits
          </mat-error>
    </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label> Enter password</mat-label>

            <input matInput [type]="hide ? 'password' : 'text'" placeholder="password" formControlName="pas1FormControl"required>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>

           <!-- <input type="password" matInput placeholder="password" formControlName="pas1FormControl"required><br>-->
            <mat-error *ngIf=" !logControl">
                It is not empty
              </mat-error> </mat-form-field>
        <br>
       <button mat-raised-button color="primary" *ngIf="logControl.valid" (click)="login()" routerLink="/first2">Login</button>
       <a mat-raised-button (click)="movep()" >Sign up</a><br><br>
       <a class="linkpas" (click)="movep2()">Forgot your password?</a>

       </fieldset>
  </mat-card>

 

  <router-outlet></router-outlet>

