
<div class="prof">
  <a  routerLink="/profil" class="aa">{{l1}}</a>
  <a  routerLink="/profil"><img src="https://i.pinimg.com/originals/ba/66/02/ba6602a51ea3490764cb1e03ea28fae8.jpg" alt="Avatar" class="avatar" ></a>
  </div>
 
 
 
 <nav>
  <a  [class.mat-elevation-z8]="!isActive" routerLink="/first">Start</a>
  <a  [class.mat-elevation-z8]="!isActive" routerLink="/message">Messages</a>
</nav>

<mat-horizontal-stepper>
  <mat-step label="Tour of heroes">

    
    <router-outlet></router-outlet>
  
    
  </mat-step>
 <mat-step label="Angular matireals">
  <mat-slider min="1" max="100" step="1" value="50" ></mat-slider>


  <input [formControl]='nameControl'>
  
  <div class="example-container"
      [class.mat-elevation-z2]="!isActive"
      [class.mat-elevation-z8]="isActive">
    Example
  </div>
  
  
  <button mat-button (click)="isActive = !isActive">Toggle Elevation</button>
  </mat-step>
</mat-horizontal-stepper>



<h2>My Heroes</h2>
<div>
<div *ngIf="o==1" >
  <button mat-raised-button  type="button" class="add-button" (click)="addO()">
    Add hero
  </button>
</div>
<div *ngIf="o==0" >
  <mat-form-field>
    <input matInput placeholder="Name" class="aaa" [formControl]='nameControl' id="new-hero" #heroName>
</mat-form-field>

  <button mat-raised-button  type="button" class="add-button" (click)="add(heroName.value); heroName.value=''">
    OK
  </button>
</div>
</div>

<button mat-raised-button color="primary"   type="button" (click)="show()">edit</button>
<div *ngIf="ch==1">
<button  mat-raised-button (click)="closseE()">Ok</button>
</div>
<ul class="heroes">
 

  <li *ngFor="let hero of heroes | slice:1">
    <a  >
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    </a>
    
    <button mat-raised-button  type="button" class="delete" title="delete hero"
      (click)="delete(hero)">x</button>
     

      
      <div id="popup" class="popup" *ngIf="ch==1" >
        
      <input [(ngModel)]="hero.name" class="popup_content" placeholder="name">


    </div>
  </li>
</ul>





