label {
    color: #26c723;
    font-weight: bold;
  }

  button {
    margin-top: 20px;

    padding: 1rem;
    border-radius: 4px;
    font-size: 1rem;
  }

  button:hover {
    background-color: #cde7be;
  }

  button:disabled {
    background-color:rgb(20, 29, 17);
    color: rgb(12, 15, 5);
    cursor: auto;
  }

  input {
    font-size: 1em;
    padding: .5rem;
  }