<mat-horizontal-stepper>
    <mat-step label="Tour of heroes">

      <nav>
          <a [class.mat-elevation-z8]="!isActive" routerLink="/dashboard">Dashboard</a>
          <a [class.mat-elevation-z8]="!isActive" routerLink="/heroes">Heroes</a>
      </nav>
      <router-outlet></router-outlet>
    
      
    </mat-step>
   <mat-step label="Angular matireals">
    <mat-slider min="1" max="100" step="1" value="50" ></mat-slider>
  
  
    <input [formControl]='nameControl'>
    
    <div class="example-container"
        [class.mat-elevation-z2]="!isActive"
        [class.mat-elevation-z8]="isActive">
      Example
    </div>
    
    
    <button mat-button (click)="isActive = !isActive">Toggle Elevation</button>


    <div class="example-container">
      <mat-form-field>
                  <input matInput placeholder="Input" class="aaa">
          </mat-form-field>
  </div>  
  
  <div class="example-container">
       <mat-form-field appearance="fill">
         <mat-label>Enter your email</mat-label>
         <input matInput placeholder="pat@example.com"  required>
         <mat-error >No data</mat-error>
       </mat-form-field>
     </div>
   
    </mat-step>
  </mat-horizontal-stepper>
  

  