<mat-card [class.mat-elevation-z8]="isActive">
    <mat-card-title>Restore password</mat-card-title>
<fieldset [formGroup]="reControl">
    <mat-form-field appearance="fill">
        <mat-label> Enter password</mat-label>

        <input matInput [type]="hide ? 'password' : 'text'" placeholder="password" formControlName="pas1FormControl" required [(ngModel)]="passw1" id="p1" required>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>

        <mat-error *ngIf="!reControl">
            It is not empty
          </mat-error> </mat-form-field>
   
      <br>
      <mat-form-field appearance="fill">
        <mat-label> Enter password second time</mat-label>

        <input matInput [type]="hide1 ? 'password' : 'text'" placeholder="password" formControlName="pas2FormControl" required [(ngModel)]="passw2" id="p2" required>
        <button mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide1">
          <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>

        <mat-error *ngIf="!reControl">
            It is not empty
          </mat-error> </mat-form-field>
      <br>
    <br>
        <a mat-raised-button (click)="movep2()" >Back</a>
        <button mat-raised-button color="primary" (click)="movep()" >Done</button>

        </fieldset>
  </mat-card>

