<mat-card [class.mat-elevation-z8]="isActive">
    <mat-card-title>Restore password</mat-card-title>
    <mat-form-field appearance="fill">
        <mat-label> password</mat-label>
        <input matInput placeholder="password"   required><br>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label> password second time</mat-label>
        <input matInput placeholder="password"  required><br>
    </mat-form-field>
    <br>
        <a mat-raised-button routerLink="/verification" >Back</a>
        <button mat-raised-button color="primary"  routerLink="/login">Done</button>
  </mat-card>