<mat-card [class.mat-elevation-z8]="isActive">
    <mat-card-title>Restore password</mat-card-title>
    <mat-form-field appearance="fill">
        <mat-label> password</mat-label>
        <input matInput placeholder="password" [formControl]="pas1FormControl"  required><br>
        <mat-error *ngIf=" !pas1FormControl.hasError('required')">
            It is not empty
          </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label> password second time</mat-label>
        <input matInput placeholder="password" [formControl]="pas2FormControl"  required><br>
        <mat-error *ngIf=" !pas2FormControl.hasError('required')">
            It is not empty
          </mat-error>
    </mat-form-field>
    <br>
        <a mat-raised-button routerLink="/verification" >Back</a>
        <button mat-raised-button color="primary"  routerLink="/login">Done</button>
  </mat-card>