<mat-card [class.mat-elevation-z8]="isActive">
    <mat-card-title  >Verification of user</mat-card-title>
        <mat-form-field appearance="fill">
            <mat-label>login</mat-label>
            <input matInput placeholder="login"  required><br>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>secret word</mat-label>
            <input matInput placeholder="secret word" required><br>
        </mat-form-field>
        <br>
        <a mat-raised-button href="#" target="_blank">Back</a>
       <a mat-raised-button href="#" target="_blank">Next</a><br><br>
  </mat-card>

