<mat-card [class.mat-elevation-z8]="isActive">
    <mat-card-title  >Verification of user</mat-card-title>

    <fieldset [formGroup]="verControl">
        <mat-form-field appearance="fill">
            <mat-label>login</mat-label>
        <input matInput placeholder="login" formControlName="loginFormControl" required><br>
        <mat-error *ngIf="!verControl">
            only letters, digits
          </mat-error>
    </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>secreat word</mat-label>
        <input matInput placeholder="login" formControlName="swFormControl" required><br>
        <mat-error *ngIf="!verControl  ">
            required
          </mat-error>
    </mat-form-field>
        <br>
        <a mat-raised-button (click)="movep()" >Back</a>
       <a mat-raised-button (click)="movep2()">Next</a><br><br>

    </fieldset>
  </mat-card>

