<mat-card [class.mat-elevation-z8]="isActive">
    <mat-card-title  >Sign Up</mat-card-title>
    <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput placeholder="name"  required [formControl]="nameFormControl" [errorStateMatcher]="matcher"><br>
        <mat-error *ngIf="!nameFormControl.hasError('required')">
            only letters, digits
          </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>Surname</mat-label>
        <input matInput placeholder="surname"  [formControl]="surnameFormControl" required><br>
        <mat-error *ngIf="!surnameFormControl.hasError('required')">
            only letters, digits
          </mat-error>
    </mat-form-field>
    <br>
        <mat-form-field appearance="fill">
            <mat-label>login</mat-label>
            <input matInput placeholder="login" [formControl]="loginFormControl" required><br>
            <mat-error *ngIf="!loginFormControl.hasError('required')">
                only letters, digits
              </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Email</mat-label>
            <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
                   placeholder="email@email.com">
            <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
              Please enter a valid email address
            </mat-error>
          </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label> password</mat-label>
            <input matInput placeholder="password"   required><br>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label> password second time</mat-label>
            <input matInput placeholder="password"  required><br>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>secret word</mat-label>
            <input matInput placeholder="secret word"><br>
        </mat-form-field>
        <br>
       <button mat-raised-button color="primary" routerLink="/login">Sign up</button>
       <a mat-raised-button href="#" routerLink="/login">Login</a><br><br>
  </mat-card>

