


<mat-card [class.mat-elevation-z8]="isActive">
    <mat-card-title  >Sign Up</mat-card-title>

    <fieldset [formGroup]=" signupControl">
    <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput placeholder="name"  required formControlName="nameFormControl" [errorStateMatcher]="matcher"><br>
        <mat-error *ngIf="!signupControl">
            only letters, digits
          </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>Surname</mat-label>
        <input matInput placeholder="surname"  formControlName="surnameFormControl" required><br>
        <mat-error *ngIf="!signupControl">
            only letters, digits
          </mat-error>
    </mat-form-field>
    <br>
        <mat-form-field appearance="fill">
            <mat-label>login</mat-label>
            <input matInput placeholder="login" formControlName="loginFormControl" required><br>
            <mat-error *ngIf="!signupControl">
                only letters, digits
              </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Email</mat-label>
            <input type="email" matInput formControlName="emailFormControl" [errorStateMatcher]="matcher"
                   placeholder="email@email.com">
            <mat-error *ngIf="!signupControl">
              Please enter a valid email address
            </mat-error>
          </mat-form-field>`
        <br>
        <mat-form-field appearance="fill">
          <mat-label> Enter password</mat-label>

          <input matInput [type]="hide ? 'password' : 'text'" placeholder="password" formControlName="pas1FormControl"required>
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>

         
          <mat-error *ngIf="!signupControl">
              It is not empty
            </mat-error> </mat-form-field>
     
        <br>
        <mat-form-field appearance="fill">
          <mat-label> Enter password second time</mat-label>

          <input matInput [type]="hide1 ? 'password' : 'text'" placeholder="password" formControlName="pas2FormControl"required>
          <button mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide1">
            <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>

          <mat-error *ngIf="!signupControl">
              It is not empty
            </mat-error> </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
            <mat-label>secret word</mat-label>
            <input matInput placeholder="secret word"><br>
        </mat-form-field>
        <br>


      </fieldset>

       <button mat-raised-button color="primary" [disabled]="!signupControl.valid" (click)="movep()">Sign up</button>
      
       <a mat-raised-button href="#" (click)="movep()">Login</a><br><br>
  </mat-card>

