
<div class="prof">
  <a  routerLink="/profil" class="aa">{{l1}}</a>
  <a  routerLink="/profil"><img src="https://i.pinimg.com/originals/ba/66/02/ba6602a51ea3490764cb1e03ea28fae8.jpg" alt="Avatar" class="avatar" ></a>
  </div>
 
 
 <nav>
  <a  [class.mat-elevation-z8]="!isActive" routerLink="/first">Start</a>
  <a  [class.mat-elevation-z8]="!isActive" routerLink="/message">Messages</a>
</nav>



<div>
  <mat-form-field >
    <mat-label>Filter of text</mat-label>
    <input matInput id="first_name" class="validate" [(ngModel)]="searchStr1"><br> 
</mat-form-field>
<br>

    <mat-form-field>
      <input matInput placeholder="Name" class="aaa" [formControl]='nameControl' id="new-hero" #postName>
  </mat-form-field>
   <br>
    <button mat-raised-button  type="button" class="add-button" (click)="add(postName.value); postName.value='';">
      Add post
    </button>
  </div>


<ul class="posts">
    <li *ngFor="let post of posts | searchPost:searchStr1">
      <a routerLink="/detailpost/{{post.id}}/{{post.title}}">
        <span class="badge">{{post.id}}</span> {{post.title}}
      </a>
      <button mat-raised-button  type="button" class="delete" title="delete post"
      (click)="delete(post)">x</button>
    </li>
  </ul>