.a1 {
    background-color: #237523;
    border-radius: 2px;
    padding: 1rem;
    text-decoration: none;
    display: inline-block;
    color: rgb(210, 248, 195);
    text-align: center;
    width: 100%;
    min-width: 70px;
    margin: .5rem auto;
    box-sizing: border-box;
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
  }

 

  @media (min-width: 600px) {
    .a1 {
      width: 18%;
      box-sizing: content-box;
    }
  }

  
  .avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  .prof{
    position: absolute;
    top: 0px; 
    right: 0px;


  }

.aa{
  text-decoration: none;
  color: black;
  padding: 3px;
  font-size: large;
}
  
 





  