
<div class="prof">
  <a  routerLink="/profil" class="aa">User</a>
  <a  routerLink="/profil"><img src="https://i.pinimg.com/originals/ba/66/02/ba6602a51ea3490764cb1e03ea28fae8.jpg" alt="Avatar" class="avatar" ></a>
  </div>


<nav>
  <a  [class.mat-elevation-z8]="!isActive" routerLink="/first">Start</a>
  <a  [class.mat-elevation-z8]="!isActive" routerLink="/message">Messages</a>
</nav>

<mat-horizontal-stepper>
    <mat-step label="Tour of heroes">

      <nav>
          <a [class.mat-elevation-z8]="!isActive" routerLink="/dashboard">Dashboard</a>
          <a [class.mat-elevation-z8]="!isActive" routerLink="/heroes">Heroes</a>
          <a [class.mat-elevation-z8]="!isActive" routerLink="/users">Users</a>
      </nav>
      <router-outlet></router-outlet>
    
      
    </mat-step>
   <mat-step label="Angular matireals">
    <mat-slider min="1" max="100" step="1" value="50" ></mat-slider>
  
  
    <input [formControl]='nameControl'>
    
    <div class="example-container"
        [class.mat-elevation-z2]="!isActive"
        [class.mat-elevation-z8]="isActive">
      Example
    </div>
    
    
    <button mat-button (click)="isActive = !isActive">Toggle Elevation</button>
    </mat-step>
  </mat-horizontal-stepper>


<h2>Top Heroes</h2>
<div  class="heroes-menu">
    <a class="a1" *ngFor="let hero of heroes"
        routerLink="/detail/{{hero.id}}/{{hero.name}}">
        {{hero.name}}
    </a>
</div>



<app-hero-search></app-hero-search>
